		.line {border-bottom: 1px solid dark;}
		b {color: limegreen; font: 15px Courier New;}
		a {color: yellow;}
		p {color: white;}
		h1 {color: darkblue; font: 30px Trebuchet MS;}
		body {background-color: mediumpurple;}